

<div class="grid lg:grid-cols-3 h-96 mx-0 sm:mx-12 mt-8 animate__animated animate__fadeInLeft">
    <div class=" lg:col-span-2 flex flex-col justify-center items-center">
        <div class="w-44 lg:w-80 mb-5 mr-0 sm:mr-7 dark:text-white">
            <h2 class="text-4xl font-bold">
                About me
            </h2>
        </div>
        <div class="flex flex-col justify-center items-center">
            <div class="w-72 sm:w-96 mb-3 ml-0 sm:ml-8">
                <ul class="font-custome dark:text-white">
                    <li class="mb-1 font-semibold"> <strong class="font-extrabold">Residency:</strong> Venezuela </li>
                    <li class="mb-1 font-semibold"> <strong class="font-extrabold">current studies:</strong> higher university technician </li>
                    <li class="mb-1 font-semibold"> <strong class="font-extrabold">Languages:</strong> Spanish (native) - English (B1/B2) </li>
                </ul>
            </div>
            <div class="w-72 sm:w-96 ml-0 sm:ml-8 dark:text-white">
                <!-- TODO colocarle la clase despues del sm width de 470px -->
                <p class="font-custome w-72 sm:w-about font-semibold">
                    ¡Hello! My name is Nicolás Soto and I am a software developer focused on creating dynamic web pages 
                    with a comfortable visual aspect for the client. I consider myself a persistent, self-taught, 
                    proactive person and very committed to my work. <span class=" hidden sm:inline">
                        In addition to my technical skills, I am a great collaborator and enjoy working in a team. 
                        I like to work in a collaborative environment, where we can all learn and grow together
                    </span> 
                </p>
            </div>
        </div>
        <div class="flex justify-center sm:justify-start with-custome-cv mt-7 sm:mt-4">
            <div class="dark:text-white">
                <a class="cv bg-purple-600" title="curriculum vitae" href="../../../../assets/cv nicolas.pdf" target="_blank">see cv</a>
            </div>
        </div>
    </div>
    <div class=" lg:col-span-1 hidden lg:flex flex-col justify-center lg:items-start">
        <div>
            <img class="img-cv transition-all duration-500 dark:img-cv-dark" src="../../../../assets/img/me.2.jpeg" alt="presentation img">
        </div>
    </div>
</div>