

<div class="flex flex-col justify-center items-center h-custome animate__animated animate__fadeIn">
    <div class="mr-1.5 sm:mr-2.5 dark:text-white">
        <h1 class="text-4xl sm:text-5xl font-bold">Nicolás <span class="text-purple-600">S</span>oto</h1>
    </div>
    <div class="flex justify-center sm:justify-start w-72 my-2 dark:text-white">
        <h3 class="text-2xl font-semibold">Frontend Developer</h3>
    </div>
    <div class="flex justify-start w-72 mt-1 dark:text-white">
        <div class="ml-9 sm:ml-0 text-3xl sm:text-4xl">
            <a class="mr-1 cursor-pointer hover:text-purple-600 transition-all duration-100" href="https://github.com/NicolasAvailable" target="_blank" title="github">
                <i class='bx bxl-github hover:translate-y-2 transition-all'></i>
            </a>
            <a class="mr-1 cursor-pointer hover:text-purple-600 transition-all duration-100" href="https://www.linkedin.com/in/nicol%C3%A1s-soto-088a90235/" target="_blank" title="linkedin">
                <i class='bx bxl-linkedin-square hover:translate-y-2 transition-all'></i>
            </a>
            <a class="mr-1 cursor-pointer hover:text-purple-600 transition-all duration-100" title="#nicosoto12">
                <i class='bx bxl-discord-alt hover:translate-y-2 transition-all'></i>
            </a>
        </div>
    </div>
</div>